body{
  font-family: 'Inter', sans-serif;
}
main{
  margin-bottom: 70px;
}
h3{
  font-weight: 700;
}
#cont{
  width: 80%;
  margin: auto;
  font-weight: 500;
}
.ele{
  background-color: hsla(220, 17%, 93%, 1);
  margin: 15px 5px;
  border: 0;
  border-radius: 8px;
  padding: 24px 32px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  width: 100%;
  color: #101828;
}
.ele:hover{
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background-color: #D0D5DD;
}
.ele:focus{
  background-color: #EAECF0;
  border: 1px solid #98A2B3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
}
.ele:target{
  background-color: #FCFCFD;
}
#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 25px;
}
a{
  text-decoration: none;
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 15px 70px;
  font-weight: 200;
}
footer > h5{
  color: #667085;
}
#slack{
  display: none;
}
#media{
  display: flex;
  justify-content: center;
  gap: 9px;
}
#media div{
  width: 24px;
  height: 23.45px;
}
#zuri {
  width: 185.03px;
}

#i4g {
  width: 132.13px;
}

@media (max-width: 375px) {
  footer{
    display: grid;
    padding: 5px 0;
  }
  #zuri{
    width: 138.77px;
  }
  #i4g{
    width: 99.1px;
  }
  #cont{
  width: 98%;
}
}